# --- Datasets ---
data/
*.jpg
*.jpeg
*.JPG
*.png

# --- Python & Environment ---
src/__pycache__/
scripts/__pycache__/
__pycache__/
*.py[cod]
.venv/
venv/
env/
.env
.pytest_cache/
.ipynb_checkpoints/

# --- IDEs & OS ---
.vscode/
.idea/
.DS_Store
Thumbs.db

# --- Models ---
# Ignore all files in models directory
src/models/*
# Except the .gitkeep file (to keep the folder on GitHub)
!src/models/.gitkeep
# Also ignore all .pth files everywhere
*.pth
